<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', weapon.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="image" class="control-label">image</label>
  <div class="controls">
    <%- contentTag('input', weapon.image, {type:'text', class:'span6', name:'image'}) %>
  </div>
</div>
<div class="control-group">
  <label for="power" class="control-label">power</label>
  <div class="controls">
    <%- contentTag('input', weapon.power, {type:'number', class:'span2', name:'power'}) %>
  </div>
</div>
<div class="control-group">
  <label for="hitRatio" class="control-label">hitRatio</label>
  <div class="controls">
    <%- contentTag('input', weapon.hitRatio, {type:'number', class:'span2', name:'hitRatio'}) %>
  </div>
</div>
<div class="control-group">
  <label for="hitsPerSecond" class="control-label">hitsPerSecond</label>
  <div class="controls">
    <%- contentTag('input', weapon.hitsPerSecond, {type:'number', class:'span2', name:'hitsPerSecond'}) %>
  </div>
</div>
<div class="control-group">
  <label for="price" class="control-label">price</label>
  <div class="controls">
    <%- contentTag('input', weapon.price, {type:'number', class:'span2', name:'price'}) %>
  </div>
</div>
