<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="image" class="control-label">image</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.image, {type:'text', class:'span6', name:'image'}) %>
  </div>
</div>
<div class="control-group">
  <label for="maturationTime" class="control-label">maturationTime</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.maturationTime, {type:'number', class:'span2', name:'maturationTime'}) %>
  </div>
</div>
<div class="control-group">
  <label for="decayTime" class="control-label">decayTime</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.decayTime, {type:'number', class:'span2', name:'decayTime'}) %>
  </div>
</div>
<div class="control-group">
  <label for="productivity" class="control-label">productivity</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.productivity, {type:'number', class:'span2', name:'productivity'}) %>
  </div>
</div>
<div class="control-group">
  <label for="storability" class="control-label">storability</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.storability, {type:'number', class:'span2', name:'storability'}) %>
  </div>
</div>
<div class="control-group">
  <label for="cost" class="control-label">cost</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.cost, {type:'number', class:'span2', name:'cost'}) %>
  </div>
</div>
<div class="control-group">
  <label for="marketPrice" class="control-label">marketPrice</label>
  <div class="controls">
    <%- contentTag('input', cropInformation.marketPrice, {type:'number', class:'span2', name:'marketPrice'}) %>
  </div>
</div>
