<div class="control-group">
  <label for="name" class="control-label">name</label>
  <div class="controls">
    <%- contentTag('input', buildingInformation.name, {type:'text', class:'span6', name:'name'}) %>
  </div>
</div>
<div class="control-group">
  <label for="image" class="control-label">image</label>
  <div class="controls">
    strig
  </div>
</div>
<div class="control-group">
  <label for="width" class="control-label">width</label>
  <div class="controls">
    <%- contentTag('input', buildingInformation.width, {type:'number', class:'span2', name:'width'}) %>
  </div>
</div>
<div class="control-group">
  <label for="height" class="control-label">height</label>
  <div class="controls">
    <%- contentTag('input', buildingInformation.height, {type:'number', class:'span2', name:'height'}) %>
  </div>
</div>
<div class="control-group">
  <label for="power" class="control-label">power</label>
  <div class="controls">
    <%- contentTag('input', buildingInformation.power, {type:'number', class:'span2', name:'power'}) %>
  </div>
</div>
<div class="control-group">
  <label for="cost" class="control-label">cost</label>
  <div class="controls">
    <%- contentTag('input', buildingInformation.cost, {type:'number', class:'span2', name:'cost'}) %>
  </div>
</div>
<div class="control-group">
  <label for="storageQuantity" class="control-label">storageQuantity</label>
  <div class="controls">
    <%- contentTag('input', buildingInformation.storageQuantity, {type:'number', class:'span2', name:'storageQuantity'}) %>
  </div>
</div>
<div class="control-group">
  <label for="storageTime" class="control-label">storageTime</label>
  <div class="controls">
    <%- contentTag('input', buildingInformation.storageTime, {type:'number', class:'span2', name:'storageTime'}) %>
  </div>
</div>
