<div class="hero-unit">
  <h2 class="name"><%= alliance.name %></h2>
  <%- linkTo('Edit this alliance', editAlliancePath(params.id), {class: 'btn pull-right'}); %>
</div>

<h2>Alliance Properties</h2>
<% for(var i in alliance) { -%>
<% if(i !== 'saved') { -%>
<div class="row list-item">
  <div class="span4">
    <h3><%= i %></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<%= i %>"><%= alliance[i] %></span></h3>
  </div>
</div>
<% } -%><% } -%>